{% extends '::base.html.twig' %}

{% block body -%}
    <header class="header">

        <div class="top-menu">

            <section class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="user-log">

                            <a data-toggle="modal" data-target="#loginModal">
                                Log in
                            </a> /
                            <a data-toggle="modal" data-target="#regModal">
                                Sign up
                            </a>

                        </div><!-- end .user-log -->
                    </div><!-- end .col-sm-4 -->

                    <div class="col-md-8 col-sm-8 col-xs-12">

                        <ul class="social-icons">
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="google" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>

                    </div><!-- end .col-sm-8 -->

                </div><!-- end .row -->
            </section><!-- end .container -->

        </div><!-- end .top-menu -->

        <div class="main-baner">

            <div class="background parallax clearfix" style="background-image:url({{ asset('img/tumblr_n7yhhvUQtx1st5lhmo1_1280.jpg') }});" data-img-width="1600" data-img-height="1064">

                <div class="main-parallax-content">

                    <div class="second-parallax-content">

                        <section class="container">

                            <div class="row">

                                <div class="main-header-container clearfix">

                                    <div class="col-md-4 col-sm-12 col-xs-12">

                                        <div class="logo">
                                            <h1>Carpool.Tn</h1>
                                        </div><!-- end .logo -->

                                    </div><!-- end .col-sm-4 -->

                                    <div class="col-md-8 col-sm-8 col-xs-12"   style="padding-left:20px;">

                                        <nav id="nav" class="main-navigation" style="padding-left:60px;">

                                            <ul class="navigation">
                                                <li>
                                                    <a href={{ path('index') }}>Home</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('reservation') }}">Your Reservation</a>
                                                </li>

                                                <li>
                                                    <a>Announcement</a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href="{{ path('annonce_new') }}">New Announcement</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('annonceUser') }}">Your Announcement</a>
                                                        </li>

                                                    </ul>
                                                </li>

                                              
                                            </ul>

                                        </nav><!-- end .main-navigation -->

                                    </div><!-- end .col-md-8 -->

                                </div><!-- end .main-header-container -->

                            </div><!-- end .row -->

                        </section><!-- end .container -->

                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="search-content">

                                <form action="{{ path('annonce_search') }}" method="POST" novalidate autocomplete="off" class="idealforms searchtours">

                                    <div class="row">

                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="field">
                                                <select id="destination" name="from">
                                                    <option value="default">From</option>
                                                    {% for entitiesVille in entitiesVille %}
                                                        <option value="{{ entitiesVille.id }}">{{ entitiesVille.nomV }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12">

                                            <div class="field">
                                                <select id="destination" name="to">
                                                    <option value="default">To</option>
                                                    {% for entitiesVille in entitiesVille %}
                                                        <option value="{{ entitiesVille.id }}">{{ entitiesVille.nomV }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>

                                        <div class="col-md-3 col-sm-3 col-xs-12">

                                            <div class="field">
                                                <input name="date" type="text" placeholder="Date"  class="datepicker">
                                            </div>


                                        </div>



                                        <div class="col-md-3 col-sm-3 col-xs-12">

                                            <div class="field buttons">

                                                <button type="submit" class="btn btn-lg green-color">Search</button>

                                            </div>

                                        </div>

                                    </div>


                                </form>
                            </div><!-- end .search-content -->

                        </div><!-- end .col-sm-12 -->

                    </div><!-- end .second-parallax-content -->








                </div><!-- end .main-parallax-content -->

            </div><!-- end .background .parallax -->

        </div><!-- end .main-baner -->

    </header><!-- end .header -->

    <section class="main-content">

        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="page-sub-title textcenter">
                        <h2>Announcement of day</h2>
                        <div class="line"></div>
                    </div><!-- end .page-sub-title -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="page-content">

                        <div class="rides-list">

                            {% for entity in entities %}



                                <article class="ride-box clearfix">


                                    <div class="ride-content">
                                        <h3><a href="{{ path('map', { 'from': entity.villeDep.id ,'to': entity.villeArr.id }) }}">From {{ entity. getVilleDepString }} To {{ entity.getVilleArrString }} </a></h3> ride by <a href="#">{{ entity.getNameUser }}</a>
                                    </div>

                                    <ul class="ride-meta">

                                        {% if entity.fumeur==1 %}
                                            <li class="ride-people">
                                                <span class="fa-stack fa-lg">
                                                    <i class="flaticon-smoking-sign fa-stack-2x" style=""></i>
                                                   <!-- <i class="fa fa-ban fa-stack-2x text-danger" style="margin-left:13px; margin-top:2px;"></i> -->
                                                </span>
                                            </li>
                                        {% endif %}

                                        {% if entity.musique==1 %}
                                            <li class="ride-people">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-music fa-stack-2x"></i>
                                                   <!-- <i class="fa fa-ban fa-stack-2x text-danger" ></i> -->
                                                    
                                                </span>
                                            </li>
                                        {% endif %}
                                        {% if entity.discussion==1 %}
                                            <li class="ride-people">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-comments-o fa-stack-2x"></i>
                                                    
                                                    
                                                </span>
                                            </li>
                                        {% endif %}
                                        

                                        <li class="ride-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                {{ entity.getDateDep|date('Y-m-d') }} at {{ entity.getHeurDep }} PM
                                            </a>
                                        </li><!-- end .ride-date -->

                                        <li class="ride-people">
                                            <a href="#" class="tooltip-link" data-original-title="Number of seats" data-toggle="tooltip">
                                                <i class="fa fa-user"></i>
                                                {{entity.nbrPlacedesp}}
                                            </a>
                                        </li><!-- end .ride-people -->


                                        <li>
                                            <a href="{{ path('annonce_show', { 'id': entity.id }) }}">
                                                <i class="fa fa-file"></i>
                                                Read more
                                            </a>
                                        </li>

                                    </ul><!-- end .ride-meta -->

                                </article><!-- end .ride-box -->
                            {% endfor %}


                            <div class="clearfix"></div>

                            <div class="post-pagination pagination-margin clearfix">

                                <div class="next pull-right">
                                    <a href="../annonce">
                                        Next
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>

                            </div><!-- end .post-pagination -->

                        </div><!-- end .events-list -->

                    </div><!-- end .page-content -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->






            </div><!-- end .row -->
        </div><!-- end .container -->

    </section><!-- end .main-content -->



    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div><!-- end .modal-header -->

                <div class="modal-body">
                    <form action="" novalidate autocomplete="off" class="idealforms login">

                        <div class="log-header">
                            <span class="log-in">Log in</span>
                        </div>

                        <div class="field">
                            <input name="username" type="text" placeholder="Username">
                            <span class="error"></span>
                        </div>

                        <div class="field">
                            <input type="password" name="password" placeholder="Password">
                            <span class="error"></span>
                        </div>

                        <div class="field buttons">
                            <button type="submit" class="submit btn green-color">Log in</button>
                        </div>



                        <div class="clearfix"></div>

                    </form><!-- end .login -->
                </div><!-- end .modal-body -->

            </div><!-- end .modal-content -->
        </div><!-- end .modal-dialog -->
    </div><!-- end .modal -->

    <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    <form action="" novalidate autocomplete="off" class="idealforms reg">

                        <div class="log-header">
                            <span class="log-in">Sign up</span>
                        </div>

                        <div class="field">
                            <input name="username" type="text" placeholder="Username">
                            <span class="error"></span>
                        </div>

                        <div class="field">
                            <input name="email" type="email"  placeholder="E-Mail">
                            <span class="error"></span>
                        </div>

                        <div class="field">
                            <input type="password" name="password" placeholder="Password">
                            <span class="error"></span>
                        </div>

                        <div class="field">
                            <input name="confirmpass" type="password"  placeholder="Password">
                            <span class="error"></span>
                        </div>

                        <div class="field buttons">
                            <button type="submit" class="submit btn green-color">Sign up</button>
                        </div>

                        <div class="clearfix"></div>

                    </form><!-- end .reg -->
                </div><!-- end .modal-body -->

            </div><!-- end .modal-content -->
        </div><!-- end .modal-dialog -->
    </div><!-- end .modal -->
{% endblock %}
