{% extends '::base.html.twig' %}

{% block body -%}
   <!-- <h1>Reservation list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nbrplace</th>
                <th>Commentaireres</th>
                <th>Statusres</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': entity.id }) }}">{{ entity.nbrPlace }}</a></td>
                <td>{{ entity.commentaireRes }}</td>
                <td>{{ entity.statusRes }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reservation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reservation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reservation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul> -->
        

    
    
            <header class="header">

            <div class="top-menu">

                <section class="container">
                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="user-log">

                                <a data-toggle="modal" data-target="#loginModal">
                                    Log in
                                </a> /
                                <a data-toggle="modal" data-target="#regModal">
                                    Sign up
                                </a>

                            </div><!-- end .user-log -->
                        </div><!-- end .col-sm-4 -->

                        <div class="col-md-8 col-sm-8 col-xs-12">

                            <ul class="social-icons">
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="google" href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>

                        </div><!-- end .col-sm-8 -->

                    </div><!-- end .row -->
                </section><!-- end .container -->

            </div><!-- end .top-menu -->

            <div class="main-baner">

                <div class="background parallax clearfix" style="background-image:url({{ asset('img/tumblr_n7yhhvUQtx1st5lhmo1_1280.jpg') }});" data-img-width="1600" data-img-height="1064">

                <div class="main-parallax-content">

                        <div class="second-parallax-content">

                            <section class="container">

                                <div class="row">

                                    <div class="main-header-container clearfix">

                                        <div class="col-md-4 col-sm-12 col-xs-12">

                                            <div class="logo">
                                            <h1>Carpool.Tn</h1>
                                        </div><!-- end .logo -->

                                        </div><!-- end .col-sm-4 -->

                                         <div class="col-md-8 col-sm-8 col-xs-12">

                                        <nav id="nav" class="main-navigation">

                                            <ul class="navigation">
                                                <li>
                                                    <a href="index.html">Home</a>
                                                </li>
                                                <li>
                                                    <a href="rides.html">Your Reservation</a>
                                                </li>
                                                
                                                <li>
                                                    <a href="#">Announcement</a>
                                                    <ul class="sub-menu">
                                                        <li>
                                                            <a href="events.html">New Announcement</a>
                                                        </li>
                                                        <li>
                                                            <a href="single-post.html">Your Announcement</a>
                                                        </li>
                                                      
                                                    </ul>
                                                </li>
                                              
                                                <li>
                                                    <a href="contact-page.html">Contact</a>
                                                </li>
                                            </ul>

                                        </nav><!-- end .main-navigation -->

                                    </div><!-- end .col-md-8 -->

                                    </div><!-- end .main-header-container -->

                                </div><!-- end .row -->

                            </section><!-- end .container -->

                        </div><!-- end .second-parallax-content -->
                        
                        
                        
                        

                    </div><!-- end .main-parallax-content -->

                </div><!-- end .background .parallax -->

            </div><!-- end .main-baner -->

        </header><!-- end .header -->

        <section class="main-content">

            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="page-sub-title textcenter">
                            <h2>Annonce Reservation</h2>
                            <div class="line"></div>
                        </div><!-- end .page-sub-title -->

                    </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->
                    
                     <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="page-content">

                        <div class="rides-list">
                            
                            {% for entity in entities %}
                                
                           

                            <article class="ride-box clearfix" >
                                
                      
                                <div class="ride-content">
                                    <h3><a href="#">Reservation by: </a>{{ entity.getIdUtilisateur.getUsername }}  </h3>
                                </div>

                                <ul class="ride-meta">

                                      
                                    
                                      <li>
                                          <h2>
                                        <a href="#" class="tooltip-link" data-original-title="Number" data-toggle="tooltip">
                                            <i class="fa fa-mobile"></i>
                                            {{entity.getIdUtilisateur.getTel}}
                                        </a>
                                          </h2>
                                    </li>

                                    <li class="ride-people">
                                        <h2>
                                        <a  class="tooltip-link" data-original-title="Number of seats" data-toggle="tooltip">
                                            <i class="fa fa-user"></i>
                                            {{entity.getNbrPlace}}
                                        </a>
                                        </h2>
                                    </li><!-- end .ride-people -->
                                    {% if entity.getStatusRes=="yes" %}
                                      <li class="ride-people">
                                        <h2>
                                        <a  class="tooltip-link" data-original-title="Number of seats" data-toggle="tooltip">
                                               <i class="fa fa-check" aria-hidden="true"></i>
                                            confirmed
                                        </a>
                                        </h2>
                                    </li><!-- end .ride-people -->
                                    {% endif %}
                                    {% if entity.getStatusRes=="no" %}
                                    <li class="ride-people">
                                        <h2>
                                        <a  class="tooltip-link" data-original-title="Number of seats" data-toggle="tooltip">
                                               <i class="fa fa-times" aria-hidden="true"></i>
                                            Not confirmed
                                        </a>
                                        </h2>
                                    </li><!-- end .ride-people -->
                                    {% endif %}
                                    {% if entity.getStatusRes=="non confirmer" %}
                                        <li class="ride-people">
                                            <form method="" action="">
                                                    
                                                <input type="hidden" name="id_ann" value="{{entity.id}}">
                                                
                                                <button type="button" class="btn btn-success" name="accept"><a href=" {{ path('acceptReservation',{'id_ann': entity.getIdAnnonce.id ,'id': entity.id }) }}" style="color: #ffffff;">Accept</a></button>
                                                
                                                 <button type="button" class="btn btn-danger" name="refuse"><a href="{{ path('refuseReservation', {'id_ann': entity.getIdAnnonce.id ,'id': entity.id }) }}" style="color: #ffffff;">Refuse</a></button>
                                            </form>
                                        
                                        </li>
                                    {% endif %}
                                   

                                </ul><!-- end .ride-meta -->

                          
                           {% if entity.getCommentaireRes!="" %}
                            <article class="ride-box clearfix" style="margin-top:20px;">
                              <div class="ride-suggestions">
                                  <h3>Comment :</h3>
                            {{entity.getCommentaireRes}}
                                
                                
    {% endif %}

                            </article><!-- end .ride-box -->
                              </article><!-- end .ride-box -->
{% endfor %}
                           

                            <div class="clearfix"></div>

                          

                        </div><!-- end .events-list -->

                    </div><!-- end .page-content -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

                 
					
					
					

                  
					
					
					
					
					

                </div><!-- end .row -->
            </div><!-- end .container -->

        </section><!-- end .main-content -->

       

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div><!-- end .modal-header -->

                    <div class="modal-body">
                        <form action="" novalidate autocomplete="off" class="idealforms login">

                            <div class="log-header">
                                <span class="log-in">Log in</span>
                            </div>

                            <div class="field">
                                <input name="username" type="text" placeholder="Username">
                                <span class="error"></span>
                            </div>

                            <div class="field">
                                <input type="password" name="password" placeholder="Password">
                                <span class="error"></span>
                            </div>

                            <div class="field buttons">
                                <button type="submit" class="submit btn green-color">Log in</button>
                            </div>

                            <a href="#" class="log-twitter twitter"><i class="fa fa-twitter"></i>Twitter</a>
                            <a href="#" class="log-facebook facebook"><i class="fa fa-facebook"></i>Facebook</a>

                            <div class="clearfix"></div>

                        </form><!-- end .login -->
                    </div><!-- end .modal-body -->

                </div><!-- end .modal-content -->
            </div><!-- end .modal-dialog -->
        </div><!-- end .modal -->

        <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">
                        <form action="" novalidate autocomplete="off" class="idealforms reg">

                            <div class="log-header">
                                <span class="log-in">Sign up</span>
                            </div>

                            <div class="field">
                                <input name="username" type="text" placeholder="Username">
                                <span class="error"></span>
                            </div>

                            <div class="field">
                                <input name="email" type="email"  placeholder="E-Mail">
                                <span class="error"></span>
                            </div>

                            <div class="field">
                                <input type="password" name="password" placeholder="Password">
                                <span class="error"></span>
                            </div>

                            <div class="field">
                                <input name="confirmpass" type="password"  placeholder="Password">
                                <span class="error"></span>
                            </div>

                            <div class="field buttons">
                                <button type="submit" class="submit btn green-color">Sign up</button>
                            </div>

                            <div class="clearfix"></div>

                        </form><!-- end .reg -->
                    </div><!-- end .modal-body -->

                </div><!-- end .modal-content -->
            </div><!-- end .modal-dialog -->
        </div><!-- end .modal -->
    
  
    {% endblock %}
  
        
        
        
        
        
        
     
        
        
        

